<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goree.api.mapper.MeetingNoteCommentMapper">
    <resultMap type="com.goree.api.domain.MeetingNoteComment" id="MeetingNoteComment">
        <id column="note_comment_id" property="id" javaType="long" />
        <result column="note_comment_content" property="content" />
        <result column="note_comment_create_date" property="createDate" />
        <association javaType="com.goree.api.domain.MeetingNote" property="meetingNote" >
            <id column="meeting_note_id" property="id" javaType="long" />
            <result column="note_content" property="content" />
        </association>
        <association javaType="com.goree.api.domain.Member" property="writer">
            <id column="member_id" property="id" javaType="long" />
            <result column="nickname" property="nickname" />
        </association>
    </resultMap>

    <!--<select id="selectNoteCommentById" resultMap="NoteComment" >-->
      <!--SELECT-->
        <!--note_comment.note_comment_id,-->
        <!--note_comment.note_comment_content,-->
        <!--note_comment.note_comment_create_date,-->
        <!--member.member_id,-->
        <!--member.nickname,-->
        <!--note.note_id,-->
        <!--note.note_content-->
      <!--FROM-->
        <!--note_comment INNER JOIN member-->
          <!--ON note_comment.note_comment_writer_id = member.member_id-->
           <!--INNER JOIN note-->
             <!--ON note_comment.note_id = note.note_id-->
      <!--WHERE-->
        <!--note_comment.note_comment_id = #{param1}-->

    <!--</select>-->

    <!--<select id="selectNoteCommentsByNoteId" resultMap="NoteComment" >-->
        <!--SELECT-->
          <!--note_comment.note_comment_id,-->
          <!--note_comment.note_comment_content,-->
          <!--note_comment.note_comment_create_date,-->
          <!--member.member_id,-->
          <!--member.nickname,-->
          <!--note.note_id,-->
          <!--note.note_content-->
        <!--FROM-->
          <!--note_comment INNER JOIN member-->
            <!--ON note_comment.note_comment_writer_id = member.member_id-->
              <!--INNER JOIN note-->
                <!--ON note_comment.note_id = note.note_id-->
        <!--WHERE-->
          <!--note_comment.note_id = #{param1}-->

    <!--</select>-->

    <insert id="insertMeetingNoteComment" parameterType="com.goree.api.domain.MeetingNoteComment" >
        INSERT INTO
          meeting_note_comment (meeting_note_id, note_comment_writer_id, note_comment_content)
        VALUES
          (#{meetingNote.id},#{writer.id},#{content})
    </insert>

    <select id="selectMeetingNoteCommentLastOneByMeetingNoteId" resultMap="MeetingNoteComment" >
        SELECT
          meeting_note_comment.note_comment_id,
          meeting_note_comment.note_comment_content,
          meeting_note_comment.note_comment_create_date,
          member.member_id,
          member.nickname,
          meeting_note.meeting_note_id,
          meeting_note.note_content
        FROM
          meeting_note_comment INNER JOIN member
            ON meeting_note_comment.note_comment_writer_id = member.member_id
              INNER JOIN meeting_note
                ON meeting_note_comment.meeting_note_id = meeting_note.meeting_note_id
        WHERE
          meeting_note_comment.note_comment_id = #{param1}
          ORDER BY meeting_note_comment.note_comment_id DESC
           LIMIT 1

    </select>

</mapper>