<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goree.api.mapper.NoteMapper">
  <resultMap type="com.goree.api.domain.Note" id="Note">
    <id column="note_id" property="id" javaType="long" />
    <result column="note_content" property="content" />
    <result column="note_create_date" property="createDate" />
    <association javaType="com.goree.api.domain.Group" property="group" >
      <id column="group_id" property="id" javaType="long" />
      <result column="group_name" property="name" />
    </association>
    <association javaType="com.goree.api.domain.Member" property="noteWriter" >
      <id column="member_id" property="id" javaType="long" />
      <result column="nickname" property="nickname" />
    </association>

  </resultMap>

  <select id="selectNoteById" resultMap="Note" parameterType="long" >
    SELECT
      note.note_id,
      note.note_content,
      note.note_create_date,
      groups.group_id,
      groups.group_name,
      groups.description,
      member.member_id,
      member.nickname
    FROM
      note INNER JOIN groups
      on note.group_id = groups.group_id
           INNER JOIN member
             on note.note_writer_id = member.member_id
    WHERE
     note.note_id = #{id}
  </select>

  <select id="selectNoteByNote" parameterType="com.goree.api.domain.Note" resultMap="Note">
    SELECT
      note.note_id,
      note.note_content,
      note.note_create_date,
      groups.group_id,
      groups.group_name,
      groups.description,
      member.member_id,
      member.nickname
    FROM
      note INNER JOIN groups
      on note.group_id = groups.group_id
           INNER JOIN member
             on note.note_writer_id = member.member_id
    <where>
      <if test="id != null and id > 0">
        note.note_id = #{id}
      </if>
      <if test="content != null">
        AND note.note_content = #{content}
      </if>
      <if test="createDate != null">
        AND note.note_create_date = #{createDate}
      </if>
      <if test="group.id != null and group.id > 0">
        AND groups.group_id = #{group.id}
      </if>
      <if test="group.name != null">
        AND groups.group_name = #{group.name}
      </if>
      <if test="group.description != null">
        AND groups.description = #{group.description}
      </if>
      <if test="noteWriter != null and noteWriter.id != null and noteWriter.id > 0">
        AND member.member_id = #{noteWriter.id}
      </if>
      <if test="noteWriter != null and noteWriter.nickname != null">
        AND member.nickname = #{noteWriter.nickname}
      </if>
    </where>
  </select>

  <insert id="insertNote" parameterType="com.goree.api.domain.Note">
    INSERT INTO
      note ( group_id, note_writer_id, note_content)
    VALUES
      ( #{group.id}, #{noteWriter.id}, #{content})

  </insert>

  <select id="selectLastNoteByGroupId" resultMap="Note" >
      SELECT
        note.note_id,
        note.note_content,
        note.note_create_date,
        groups.group_id,
        groups.group_name,
        groups.description,
        member.member_id,
        member.nickname
      FROM
        note INNER JOIN groups
          on note.group_id = groups.group_id
            INNER JOIN member
              on note.note_writer_id = member.member_id
      WHERE
        note.group_id = #{param1}
      ORDER BY note_id DESC
        LIMIT 1

  </select>


</mapper>