<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goree.api.mapper.NoteCommentMapper">
    <resultMap type="com.goree.api.domain.NoteComment" id="NoteComment">
        <id column="note_comment_id" property="id" />
        <result column="note_comment_content" property="content" />
        <result column="note_comment_create_date" property="createDate" />
        <association javaType="com.goree.api.domain.Note" property="note" >
            <id column="note_id" property="id" />
            <result column="note_content" property="content" />
        </association>
        <association resultMap="com.goree.api.mapper.MemberMapper.Member" property="writer">
            <id column="member_id" property="id" />
            <result column="nickname" property="nickname" />
        </association>
    </resultMap>

    <select id="selectNoteCommentById" resultMap="NoteComment" >
      SELECT
        note_comment.note_comment_id,
        note_comment.note_comment_content,
        note_comment.note_comment_create_date,
        member.member_id,
        member.nickname,
        note.note_id,
        note.note_content
      FROM
        note_comment INNER JOIN member
          ON note_comment.note_comment_writer_id = member.member_id
           INNER JOIN note
             ON note_comment.note_id = note.note_id
      WHERE
        note_comment.note_comment_id = #{param1}

    </select>


</mapper>