<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goree.api.mapper.PlaceMapper">
  <resultMap type="com.goree.api.domain.Place" id="Place">
    <id column="place_id" property="id" javaType="long" />
    <result column="place_name" property="name" />
    <result column="address" property="address" />
    <result column="x_coordinate" property="xCoordinate" />
    <result column="y_coordinate" property="yCoordinate" />
  </resultMap>
  <select id="findPlaceById" parameterType="long" resultMap="Place">
    SELECT * FROM place WHERE place_id = #{id}
  </select>
  
  <insert id="insertPlace" parameterType="com.goree.api.domain.Place" >
    INSERT INTO place (place_name, address, x_coordinate, y_coordinate)
         VALUES (#{name},#{address},#{xCoordinate},#{yCoordinate})
  </insert>
  
  
  <select id="selectPlaceByItself" parameterType="com.goree.api.domain.Place" resultMap="Place">
    SELECT * 
    FROM 
        place 
    WHERE 
        place_name = #{name} AND   
        address = #{address} AND
        x_coordinate = #{xCoordinate} AND
        y_coordinate = #{yCoordinate}
  </select>
</mapper>