<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goree.api.mapper.GroupMapper">
  <resultMap type="com.goree.api.domain.Group" id="Group">
    <id column="group_id" property="id" />
    <result column="group_name" property="name" />
    <result column="description" property="description" />
    <association resultMap="com.goree.api.mapper.MemberMapper.Member" property="leader" />
  </resultMap>
  <resultMap type="com.goree.api.domain.Group" id="GroupWithMember">
    <id column="group_id" property="id" />
    <result column="group_name" property="name" />
    <result column="description" property="description" />
    <collection property="member" resultMap="Member" />
  </resultMap>
  <select id="selectGroupsByMemberId" parameterType="com.goree.api.domain.Member" 
        resultType="com.goree.api.domain.Group">
    SELECT 
        `group`.group_id, 
        `group`.group_name
    FROM 
        `group` 
            INNER JOIN group_has_member 
                ON `group`.group_id = group_has_member.group_id 
            INNER JOIN member 
                ON group_has_member.member_id = member.member_id
    WHERE 
        member.member_id = #{id}
  </select>
  <insert id="insertGroup" parameterType="com.goree.api.domain.Group">
    INSERT INTO `group`(group_name, leader_id,description) 
         values (#{name}, #{leader.id},#{description})
  </insert>
  <select id="selectGroupById" parameterType="int" resultMap="Group">
    SELECT 
        `group`.group_id, 
        `group`.group_name, 
        `group`.description, 
        member.member_id, 
        member.email,
        member.full_name
    FROM 
        `group`
            INNER JOIN member 
                ON `group`.leader_id = member.member_id
    WHERE 
        `group`.group_id = #{id}
  </select>
  <select id="selectGroupAll" resultMap="Group">
    SELECT 
        `group`.group_id, 
        `group`.group_name, 
        `group`.description, 
        member.member_id, 
        member.email,
        member.full_name
    FROM 
        `group`
            INNER JOIN member 
                ON `group`.leader_id = member.member_id
  </select>

  <select id="selectGroupByName" parameterType="string" resultMap="Group">
    SELECT 
        `group`.group_id, 
        `group`.group_name, 
        `group`.description, 
        member.member_id, 
        member.email,
        member.full_name
    FROM 
        `group`
            INNER JOIN member 
                ON `group`.leader_id = member.member_id
    WHERE 
        `group`.group_name = #{name}
  </select>
  
  <delete id="deleteGroupMemberMappingByMemberId" parameterType="int">
    DELETE FROM group_has_member WHERE member_id = #{id}
  </delete>
  
  <insert id="insertToGroupHasMember">
    INSERT INTO group_has_member (group_id, member_id)
    VALUES (#{param1}, #{param2})
  </insert>

</mapper>